{% extends 'base.html' %} {% block content %}
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
<div class="container">
    <svg class="border rounded mt-3" width="960" height="600" style="background-color:white"></svg>
</div>
<script src="/static/js/index.js" charset="utf-8"></script>

<div id="tooltip_svg_01" style="opacity:0">
    <p><strong>Important Label Heading</strong></p>
    <p><span id="value_tt_01">None</span></p>
    <p><a id="link_tt_01" href="" >None</a></p>
  </div>
  
{% endblock %}